<div class="latest-posts" >
    <div class="post" *ngFor="let item of posts">
        <a [routerLink]="['/post', item._id]">
            <div class="post d-flex align-items-center">
                <a href="https://www.freepik.com/icon/happy_1818410">Icon by Smashicons</a>
                <a href="https://www.freepik.com/icon/yarn-ball_7870783#fromView=keyword&term=Cat&page=4&position=12">Icon by kerismaker</a>
                <a href="https://www.freepik.com/icon/kitty_763724">Icon by Freepik</a>
                <a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Smashicons - Flaticon</a>
                <div class="image"><img src={{item.featuredImage}}  alt="..." class="img-fluid"></div>
                <div class="title"><strong>{{item.title}}</strong><span class="date last-meta">{{item.postDate | date:'mediumDate'}}</span></div>
            </div>
        </a>
    </div>
</div>