<h1 class="title-404">
    404 - Page not found ...
</h1>
<p class="element-404 style-font-404">... 99 little bugs in the code,</p>
<p class="element-404 style-font-404">99 little bugs,</p>
<p class="element-404 style-font-404">Take one down, 
<p class="element-404 style-font-404">Patch it around,</p>
<p class="element-404 style-font-404">117 little bugs in the code...</p>
<p class="element-404 last-element-404">...anyway...you might want to try the <a routerLink="/home" routerLinkActive="active">Home page</a></p>