
    <div class="container">

<mat-tab-group >
    <mat-tab aria-label="completed" label="Completed">
      <ng-template  mat-tab-label>

        <img class="png-icon example-tab-icon" src="../../assets/img/ecology-book.png" width="5%">&nbsp;&nbsp;&nbsp;READ AROUND THE WORLD
  
      </ng-template>
      <app-table-list></app-table-list>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <img class="png-icon" src="../../assets/img/poirot.png" width="5%">&nbsp;&nbsp;&nbsp;THE LITTLE GREY CELLS
      </ng-template>
      <app-table-list-poirot></app-table-list-poirot>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img class="png-icon" src="../../assets/img/blood.png" width="5%">&nbsp;&nbsp;&nbsp;HORROR TUPINIQUIM
      </ng-template>
      <app-table-list></app-table-list>
    </mat-tab>
   
   



  </mat-tab-group>
  
</div>