
    <div class="container">

<mat-tab-group>
    <mat-tab >
      <ng-template mat-tab-label>

        <img src="../../assets/img/ecology-book.png" width="5%">&nbsp;&nbsp;&nbsp;READ AROUND THE WORLD
  
      </ng-template>
      <app-table-list></app-table-list>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../assets/img/poirot.png" width="5%">&nbsp;&nbsp;&nbsp;THE LITTLE GREY CELLS
      </ng-template>
      <app-table-list></app-table-list>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../assets/img/poirot.png" width="5%">&nbsp;&nbsp;&nbsp;HORROR IN TERRAS TUPINIQUINS
      </ng-template>
      <app-table-list></app-table-list>
    </mat-tab>
   
   



  </mat-tab-group>
  
</div>